@import 'colors.css';
@import 'settings.css';

h3.accordion {
  background-color: var(--gray-light);
  color: var(--white);
  cursor: pointer;
  padding: 10px;
  margin: 0px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  &:--active {
    background-color: var(--gray-dark);
    &:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
  }
  &:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--white);
    float: right;
    margin-left: 5px;
  }
}

div.panel {
  padding: 0 20px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  opacity: 0;
  &.show {
    opacity: 1;
    padding: 20px;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  }
}
